@import "base/base.scss";
@import "vibbio/vibbio.scss";

.hero {
  background-color: $turquoise;
  background-image: url(../images/banner_2.jpg);
  background-size: cover;
  color: $white;
  height: 100vh;
  text-align: center;
  img {
    height: 20vh;
    width: 20vh;
  }
  h1 {
    font-size: 3.25rem;

  }
  p {
    font-size: 1.25rem;
    text-shadow: 0 1px 3px transparentize($dark-petroleum, 0.4);
  }
}
