<section class="three-in-one">
    <h2>Your 3-in-1 solution</h2>
    <div class="pillar-wrapper">

        <div class="pillar">
            <h3>Video Project Tool</h3>
            <%= image_tag 'icons/moviecut.svg' %>
            <p>Create video projects with your team. Invite your team members and collaborate on creating new marketing videos.</p>
        </div>
        <div class="pillar">
            <h3>Cloud Media Library</h3>
            <%= image_tag 'icons/foldercloud.svg' %>
            <p>Never waste time looking for company visuals again. Upload and organize all existing visual materials in your own 2TB cloud-based VIBBIO library.</p>
        </div>
        <div class="pillar">
            <h3>Marketplace</h3>
            <%= image_tag 'icons/localstore.svg' %>
            <p>If you need any help with filming or copywriting, you can book additional services directly from your account. Get access to skilled freelancers in your location.</p>
        </div>

    </div>
</section>