<section class="benefits">
    <div>
        <h2>All in one place</h2>
        <p>On the VIBBIO platform, you’ll get a 2TB cloud-based workspace, where you can store and organize all your visual content.</p>
    </div>
    <div>    
        <h2>Content Experts</h2>
        <p>Need help with planning your video content, advice on how to reach your target audience or help with copywriting? Our content specialists are happy to help.</p>
    </div>
    <div>    
        <h2>Film crew</h2>
        <p>If you need new visuals, we have video producers at the ready. You’ll get all the footage uploaded to your library, ready for your next order.</p>
    </div>
    <div>    
        <h2>Video editing</h2>
        <p>As soon as you have your chosen visuals and copy in place, simply press order, and our talented video editors will deliver a publish-ready video tailored to your brand within days.</p>
    </div>
</section>