<a name="careers"></a>
<section class="careers <%= shade ||= '' %> ">
    <h2>Open positions</h2>
    <h3>Sales & Marketing</h3>
    <div class="grid">        
        <% link_to 'vp-sales' do %>
            <div class="job-card">
                <p class="job-title">VP of Sales</p>
                <p class="job-location">Oslo, Norway</p>
            </div>
        <% end %>
        <% link_to 'business-development-representative' do %>
            <div class="job-card">
                <p class="job-title">Business Development Representative</p>
                <p class="job-location">Oslo, Norway</p>
            </div>
        <% end %>
        <% link_to 'account-executive' do %>
            <div class="job-card">
                <p class="job-title">Acount Executive</p>
                <p class="job-location">Oslo, Norway</p>
            </div>
        <% end %>
    </div>
    
    <h3>Poduct</h3>
    <div class="grid">        
        <% link_to 'senior-web-developer' do %>
            <div class="job-card">
                <p class="job-title">Senior Web Developer</p>
            </div>
        <% end %>
        <% link_to 'senior-software-engineer' do %>
            <div class="job-card">
                <p class="job-title">Senior Software Engineer</p>
            </div>
        <% end %>
    </div>
</section>