<a name="careers"></a>
<section class="careers <%= shade ||= '' %> ">
    <h2>Open positions</h2>
    <h3>Product</h3>
    <div class="card-layout">
        <% link_to 'https://vibbio.teamtailor.com/jobs/90087-senior-front-end-engineer', :target => '_blank' do %>
            <div class="job-card">
                <p class="job-title">Senior Front-end Engineer</p>
                <p class="job-location">Oslo, Norway</p>
            </div>
        <% end %>
        <% link_to 'https://vibbio.teamtailor.com/jobs/90094-senior-software-engineer', :target => '_blank' do %>
            <div class="job-card">
                <p class="job-title">Senior Software Engineer</p>
                <p class="job-location">Oslo, Norway</p>
            </div>
        <% end %>
        <% link_to 'https://vibbio.teamtailor.com/jobs/93035-product-designer', :target => '_blank' do %>
            <div class="job-card">
                <p class="job-title">Product Designer</p>
                <p class="job-location">Oslo, Norway</p>
            </div>
        <% end %>
    </div>
</section>