<footer>
    <main>
        <div>
            <img class="logo" src="../images/vibbio_white.svg"  alt="VIBBIO logo">

            <p>A growing number of international brands trust VIBBIO with all their video needs.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="links">
            <ul>
              <li><a href="">Features</a></li>
              <li><a href="">Plans</a></li>
              <li><a href="">Productions</a></li>
            </ul>

            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Contact</a></li>
            </ul>

            <ul>
                <li><a href="">Resources</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </div>
        
        <div class="social">
            <h2>Follow us:</h2>

            <ul class="social-icons">
                <li><a href=""><img src="../images/Facebook.svg" alt="Facebook icon"></a></li>
                <li><a href=""><img src="../images/Twitter.svg" alt="Twitter icon"></a></li>
                <li><a href=""><img src="../images/Instagram.svg" alt="Instagram icon"></a></li>
            </ul>
        </div>
    </main>
    <aside>
        <ul>
            <li><a href="">Terms and conditions</a></li>
            <li><a href="">Privacy policy</a></li>
        </ul>
        <p>&copy; 2016 &ndash; 2018 VIBBIO AS</p>
    </aside>
</footer>