<section class="how-does-it-work">
    <h2>How does it work?</h2>
    <p>With a VIBBIO user, your company's content can get the full video treatment.</p>
    <ul>
        <li>
            <%= image_tag 'icons/atom.svg', :alt => 'Atom icon' %>
            Our smart project workflow allows you to simply connect chosen messages with new or existing visuals
        </li>
        <li>
            <%= image_tag 'icons/localstore.svg', :alt => 'Local store icon' %>
            Book or add-on any services or extras you might want
        </li>
        <li>
            <%= image_tag 'icons/paws.svg', :alt => 'Character icon' %>
            No need to learn editing, we've got &ldquo;professionals under the hood&rdquo;
        </li>
        <li>
            <%= image_tag 'icons/moviecut.svg', :alt => 'Movie cut icon' %>
            Receive publish-ready videos, tailored both to brand and publishing channels
        </li>
    </ul>
    <button>Get started free</button>
</section>
