<section class="introduction">
    <h2>VIBBIO is the platform where you can plan, order and receive publish ready videos tailored to your brand.</h2>

    <p>The solution is optimal for marketing teams and others who wish to increase visibility online for their brand and products.</p>
    <p>Plan and order multiple short videos, targeted to specific audiences and social media channels</p>
</section>