<section class="introduction">
    <h2>VIBBIO is the platform where you can
        <div>plan, order and receive</div>
        publish-ready videos tailored to your brand.</h2>

        <a href="//video.vibbio.com/v.ihtml/player.html?token=49966d3cee0bddef9f7fc2fc3ab2b9f9&source=embed&photo%5fid=27066143&autoPlay=1" data-lity>
        <svg fill="#00829A" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
        </svg>
        See how it works</a>

    <div class="columns">
        <p>The solution is optimal for marketing teams and others who wish to increase visibility online for their brand and products.</p>
        <p>Collect, store and organise all existing content and visuals in one place.</p>
        <p>Plan and order multiple short videos, targeted to specific audiences and social media channels.</p>
    </div>
</section>
