<section class="introduction">
    <h2>VIBBIO is the platform where you can plan, order and receive publish ready videos tailored to your brand.</h2>

    <p>Consumer brands are in an arms-race for attention. </p>
    <p>Consistent targeted messaging across all social media channels is even more crucial. This is where VIBBIO can help your business &ndash; without breaking the bank.</p>
</section>