<section class="marketplace">
    <h2>The Marketplace</h2>
    <p class="ingress">Additional services such as filming, copywriting and stock materials are available to book directly within your user account.</p>

    <h3>Filming</h3>
    <ul>
        <li>
            <p class="title">Video Crew</p>
            <p>Film shoot with a crew of 2 producers; to capture several angles and sound.<br>
            Ideal for filming events, interviews and acted scenarios.<br>
            <em>Credits: 2000</em></p>
        </li>
        <li>
            <p class="title">Single shoot</p>
            <p>Filming with 1 producer.<br>
            Ideal for a product shoot, landscapes, people, places,
            overviews etc.<br>
            <em>Credits: 750</em></p>
        </li>
    </ul>
    <h3>Content</h3>
    <ul>
        <li>
            <p class="title">Adaption</p>
            <p>Adapting an existing article, paper or case to a short video.<br>
            <em>Credits: 2000</em></p>
        </li>
        <li>
            <p class="title">Copywriting</p>
            <p>Create complete content for a video from scratch.<br>
            <em>Credits: 750</em></p>
        </li>
        <li>
            <p class="title">Workshop</p>
            <p>Content workshop to solve messaging, tone-of-voice and text for a campaign.<br>
            <em>Credits: 750</em></p>
        </li>
    </ul>
    <h3>Stock material</h3>
    <ul>
        <li>
            <p>We have a range of short clips and images available to purchase, with direct transfer to your user library</p>
        </li>
    </ul>
</section>