<section class="mission">
    <div class="split">
        <div><%= partial 'page-content/about/mission.md' %></div>
        <div><%= image_tag 'https://i.vimeocdn.com/video/667173827.jpg' %></div>
    </div>
</section>