<nav>
    <% link_to 'index.html' do %>
      <%= image_tag 'vibbio_white.svg' %>
    <% end %>

    <ul>
        <li><a href="">Product</a></li>
        <li><a href="">Plans</a></li>
        <li><a href="">Resources</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Log in</a></li>
    </ul>
</nav>