<section class="onboarding-options">
    <h2>Onboarding</h2>
    <div class="wrapper">
        <div class="plan">
            <h3>Package price</h3>
            <p class="price"><span class="valuta">NOK</span> 25 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 3 000</p>
            <ul>
                <li>Training</li>
                <li>Pilot video workshop</li>
                <li>Evaluation</li>
            </ul>
            <a href="mailto:sales@vibbio.com" class="signup-button">Get in touch</a>
        </div>
    </div>
    <p><em>Sessions can be arranged for on-premise meetings or remote/online.</em></p>
</section>