<section class="onboarding-options">
    <h2>Our onboarding options</h2>
    <div class="wrapper">
        <div class="plan">
            <h3>Content</h3>
            <p class="price"><span class="valuta">NOK</span> 25 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 3 000</p>
            <ul>
                <li>VIBBIO content team</li>
            </ul>
            <a href="mailto:sales@vibbio.com" class="signup-button">Get in touch</a>
        </div>
        <div class="plan">
            <h3>Film shoot</h3>
            <p class="price"><span class="valuta">NOK</span> 32 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 3 500</p>
            <ul>
                <li>VIBBIO content team</li>
                <li>1 project manager</li>
                <li>2 producers on location</li>
            </ul>
            <a href="mailto:sales@vibbio.com" class="signup-button">Get in touch</a>
        </div>
    </div>
    <p><em>Sessions can be arranged for on-premise meetings or remote/online.</em></p>
</section>