<section id="onboarding-sessions" class="onboarding-sessions <%= shade ||= '' %> ">
    <h2>Sessions</h2>
    <div class="wrapper">
        <div class="area">
            <%= image_tag 'icons/1.svg', :alt => 'Number 1 icon' %>
            <div>
                <h3>Training (60 min)</h3>
                <p>We will showcase all parts of the platform, and teach you how to get the most out of your account.</p>
                <ul>
                    <li>Introduction to the different sections of your platform account (Projects, Library, Store & Settings)</li>
                    <li>Uploading existing content to your library</li>
                    <li>Uploading your visual profile elements</li>
                    <li>Viewing examples of smart videos</li>
                    <li>Showcasing how the videos were created</li>
                </ul>
            </div>
        </div>
        <div class="area">
            <%= image_tag 'icons/2.svg', :alt => 'Number 2 icon' %>
            <div>
                <h3>Creating your first video (60-90 min)</h3>
                <p>Together we'll define a pilot video project to get you off to a flying start.</p>
                <ul>
                    <li>Defining your video format, based on where you'll publish</li>
                    <li>Writing in your messages, and using the tool's guidance</li>
                    <li>Matching your messages with visuals from your library</li>
                    <li>Review and confirm order</li>
                    <li>Introduction to new versions</li>
                </ul>
            </div>
        </div>
        <div class="area">
            <%= image_tag 'icons/3.svg', :alt => 'Number 3 icon' %>
            <div>
                <h3> Recipe for success (Tailored email)</h3>
                <p>Now that you know the basics and have had a go at creating a first project, you'll receive a tailored plan for how to become successful as a team using VIBBIO.</p>
                <ul>
                    <li>Tips & tricks on how to plan content for your chosen publishing platforms</li>
                    <li>Keeping it simple, as well as smart - video is so much more than just advertising</li>
                    <li>Building new skills and having fun, learning by doing</li>
                    <li>Embracing the power of recycling, repetition and volume - in the age of the crowded internet</li>
                </ul>
            </div>
        </div>
    </div>
</section>