<section class="plans-include">
    <h2>All plans include</h2>
    <ul>
        <li>
            <%= image_tag 'icons/cloudkey.svg', :alt => 'Cloud icon with a key lock' %>
            <h3>2 TB of storage</h3>
            <p>We give you plenty of space to securely store your content in the cloud.</p>
        </li>
        <li>
            <%= image_tag 'icons/camerastar.svg', :alt => 'Camera icon' %>
            <h3>Video profile creation</h3>
            <p>When you create an account for your brand, we will create a custom video profile for you based on your guidelines.</p>
        </li>
        <li>
            <%= image_tag 'icons/dollarcoin.svg', :alt => 'Dollar coin icon' %>
            <h3>One-month credits roll-over</h3>
            <p>Unused credits automatically roll-over to the next month for ultimate flexibility.</p>
        </li>
        <li>
            <%= image_tag 'icons/opensign.svg', :alt => 'Icon showing a sign saying "open"', :id => 'open-sign' %>
            <h3>Full useage rights on purchased content</h3>
            <p>All content you purchase from our store is yours to use in as many videos as you wish.</p>
        </li>
    </ul>
</section>