<a name="subscription_plans"></a>
<section class="subscriptions">
    <h2>Our plans</h2>
    <div class="wrapper">
        <div class="standard-plan">
            <h3>Standard</h3>
            <p class="comment">per month</p>
            <p class="price"><span class="valuta">NOK</span> 9 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 900</p>
            <ul>
                <li>2000 credits per month</li>
                <li>2 TB of storage space</li>
                <li>Video delivery within 1&ndash;2 days</li>
                <li>14 day free trial</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
        </div>
        <div class="special-plans">
            <h3>Enterprise</h3>
            <ul>
                <li>Fits higher volume needs</li>
                <li>Tailored to your company size</li>
                <li></li>
            </ul>
            <h3>Multi</h3>
            <ul>
                <li>Access several brands under a single account</li>
                <li>Budget control and team administration per brand</li>
                <li><a href="" data-lity>Watch the video</a></li>
            </ul>
            <a href="https://info.vibbio.com/request-a-demo" class="contact-button">Contact sales</a>
        </div>
    </div>
    <p><em>We provide onboarding and implementation workshops for all plans.</em></p>

</section>