<a name="subscription_plans"></a>
<section class="subscriptions">
    <h2>Our plans</h2>
    <div class="wrapper">
        <div class="plan">
            <h3>Basic</h3>
            <p class="comment">per month</p>
            <p class="price"><span class="valuta">NOK</span> 18 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 1 800</p>
            <ul>
                <li><a href="#inline" data-lity>2000 credits</a> per month</li>
                <li>2 TB of storage space</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
        </div>
        <div class="plan">
            <h3>Plus</h3>
            <p class="comment">per month</p>
            <p class="price"><span class="valuta">NOK</span> 32 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 3 200</p>
            <ul>
                <li><a href="#inline" data-lity>5000 credits</a> per month</li>
                <li>2 TB of storage space</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
        </div>
        <div class="plan">
            <h3>Premium</h3>
            <p class="comment">per month</p>
            <p class="price"><span class="valuta">NOK</span> 58 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 5 800</p>
            <ul>
                <li><a href="#inline" data-lity>11 000 credits</a> per month</li>
                <li>2 TB of storage space</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
        </div>
    </div>
    <p><em>All plans start with a free 14 day trial, no credit card required.</em></p>
    <p><em>Finished videos are usually delivered within 1&ndash;2 days.</em></p>
    <p><em>We offer onboarding and implementation workshops.</em></p>

    <div class="multi">
        <h3>Multi</h3>
        <div class="wrapper">
            <%= image_tag 'icons/massstorage.svg', :alt => 'Icon showing a network' %>
            <div>
                <p><strong>We also offer a multi-user account type.</strong></p>
                <p>This account type has admin and controller functionality for multiple accounts, e.g. several brands, departments or customers; with fully flexible choice of account levels; each account being tailored to 1 brand profile.</p>
                <a href="mailto:sales@vibbio.com">Contact us to schedule a demo.</a>
            </div>
        </div>
    </div>

    <div id="inline" class="lity-hide">
        <h2>VIBBIO credits</h2>
        <p class="intro">The VIBBIO currency is credits. These can be used for all purchases within the platform.</p>
        <h3 style="margin-top: 1rem;">Credit cost examples</h3>
        <ul>
            <li><strong>New video:</strong> 1000 credits</li>
            <li><strong>New format or language:</strong> 500 credits</li>
            <li><strong>New intro or outro:</strong> 100 credits</li>
            <li><strong>Stock clip:</strong> 300 credits</li>
        </ul>
    </div>

</section>