<a name="subscription_plans"></a>
<section class="subscriptions">
    <h2>Our plans</h2>
    <div class="wrapper">
        <div class="standard-plan">
            <h3>Standard</h3>
            <p class="comment">per month</p>
            <p class="price"><span class="valuta">NOK</span> 9 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 950</p>
            <ul class="credits">
                <li>2 000 credits per month</li>
                <li>Equals 3&ndash;5 new videos or up to 20 versions</li>
            </ul>
            <ul>
                <li>Unlimited team collaboration</li>
                <li>Same day publish-ready videos&ast;</li>
                <li>2 TB of storage space</li>
                <li>Built-in marketplace</li>
                <li>14 day free trial</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
            <p><em>&ast;) For orders submitted before 14:00 CEST</em></p>
        </div>
        <div class="special-plans">
            <h3>Enterprise</h3>
            <ul>
                <li>Fits higher volume needs</li>
                <li>Tailored to your company size</li>
            </ul>
            <a href="https://info.vibbio.com/request-a-demo" class="contact-button">Contact sales</a>
            <h3>Multi</h3>
            <ul>
                <li>Access multiple brands</li>
                <li>Dedicated teams per brand</li>
                <li>Budget control per brand</li>
                <li><%= link_to 'Watch the video', '//video.vibbio.com/v.ihtml/player.html?token=247bfa18cf98c08dc8a55040e5adb672&source=embed&photo%5fid=27693919&autoPlay=1', :'data-lity' => '', :title => 'Learn more about VIBBIO\'s Multi plan' %></li>
            </ul>
            <a href="https://info.vibbio.com/request-a-demo" class="contact-button">Contact sales</a>
        </div>
    </div>
    <p><em>We provide onboarding and implementation workshops for all plans.</em></p>

    <div class="credits-overview">
        <h3>Prices per video</h3>
        <div class="credits-table">
            <table>
                <tbody>
                    <thead>
                        <tr>
                            <th colspan="2">New videos</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>1&ndash;15 sec</td>
                        <td>350 credits</td>
                    </tr>
                    <tr>
                        <td>15&ndash;30 sec</td>
                        <td>550 credits</td>
                    </tr>
                    <tr>
                        <td>30&ndash;45 sec</td>
                        <td>650 credits</td>
                    </tr>
                    <tr>
                        <td>45&ndash;60 sec</td>
                        <td>750 credits</td>
                    </tr>
                    <tr>
                        <td>60&ndash;120 sec</td>
                        <td>1000 credits</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <thead>
                        <tr>
                            <th colspan="2">New versions</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>New format</td>
                        <td>250 credits</td>
                    </tr>
                    <tr>
                        <td>New language</td>
                        <td>250 credits</td>
                    </tr>
                    <tr>
                        <td>New intro</td>
                        <td>100 credits</td>
                    </tr>
                    <tr>
                        <td>New outro</td>
                        <td>100 credits</td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Extra services</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Filming</td>
                        <td>350 credits/hour</td>
                    </tr>
                    <tr>
                        <td>Content adaption</td>
                        <td>200 credits/hour</td>
                    </tr>
                    <tr>
                        <td>Copywriting</td>
                        <td>200 credits/hour</td>
                    </tr>
                    <tr>
                        <td>Content workshop</td>
                        <td>200 credits/hour</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>