<section class="subscriptions">
    <h1>Our plans</h1>
    <div class="wrapper">
        <div class="plan">
            <h2>Basic</h2>
            <p class="price">2000&euro;</p>
            <ul>
                <li>2 TB of storage space</li>
                <li>2000 credits per month</li>
                <li>Mollis Ornare Fermentum</li>
                <li>Ligula Dolor</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
        </div>
        <div class="plan">
            <h2>Plus</h2>
            <p class="price">3600&euro;</p>
            <ul>
                <li>2 TB of storage space</li>
                <li>2000 credits per month</li>
                <li>Mollis Ornare Fermentum</li>
                <li>Ligula Dolor</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
        </div>
        <div class="plan">
            <h2>Premium</h2>
            <p class="price">6600&euro;</p>
            <ul>
                <li>2 TB of storage space</li>
                <li>2000 credits per month</li>
                <li>Mollis Ornare Fermentum</li>
                <li>Ligula Dolor</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
        </div>
    </div>
    <p>All plans start with a free 14 day trial, no credit card required.</p>
</section>