<section class="subscriptions">
    <h1>Our plans</h1>
    <div class="wrapper">
        <div class="plan">
            <h2>Basic</h2>
            <p class="price"><span class="valuta">NOK</span> 18 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 2 000</p>
            <ul>
                <li>2000 credits per month</li>
                <li>2 TB of storage space</li>
                <li>Videos delivered in 4&ndash;5 days</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
        </div>
        <div class="plan">
            <h2>Plus</h2>
            <p class="price"><span class="valuta">NOK</span> 32 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 3 500</p>
            <ul>
                <li>5000 credits per month</li>
                <li>2 TB of storage space</li>
                <li>Videos delivered in 3&ndash;4 days</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
        </div>
        <div class="plan">
            <h2>Premium</h2>
            <p class="price"><span class="valuta">NOK</span> 58 000</p>
            <p class="price-small"><span class="valuta">EUR</span> 6 300</p>
            <ul>
                <li>11 000 credits per month</li>
                <li>2 TB of storage space</li>
                <li>Videos delivered in 2&ndash;3 days</li>
            </ul>
            <a href="https://app.vibbio.com/signup" class="signup-button">Start your free trial</a>
        </div>
    </div>
    <p><em>All plans start with a free 14 day trial, no credit card required.</em></p>

    <div class="multi">
        <h2>Multi</h2>
        <p><strong>We also offer a multi-user account type.</strong></p>
        <p>This account type has admin and controller functionality for multiple accounts, e.g. several brands, departments or customers; with fully flexible choice of account levels; each account being tailored to 1 brand profile.</p>
        <a href="mailto:sales@vibbio.com">Contact us to schedule a demo.</a>
    </div>

</section>