<section class="subscriptions">
    <h2>Our prices</h2>
    <div class="wrapper">
        <div class="plan">
            <h3>Single</h3>
            <p class="price">40 000 &#107;&#114;</p>
            <p class="comment">cost per video</p>
            <ul>
                <li>5 &ndash; 7 days delivery time</li>
                <li>2 producers</li>
                <li>1 Content specialist</li>
                <li>&nbsp;</li>
            </ul>
            <a href="mailto:sales@vibbio.com" class="signup-button">Contact us</a>
        </div>
        <div class="plan">
            <h3>Series</h3>
            <p class="price">30 000 &#107;&#114;</p>
            <p class="comment">cost per video</p>
            <ul>
                <li>10 &ndash; 15 days delivery time</li>
                <li>2 producers</li>
                <li>1 Content specialist</li>
                <li>1 Project Manager</li>
            </ul>
            <a href="mailto:sales@vibbio.com" class="signup-button">Contact us</a>
        </div>
    </div>
</section>