<section class="quotes <%= shade ||= '' %>">
    <h2 class="section-heading">What our customers are saying</h2>
    <div class="columns">
        <div class="single-quote">
            <p>Vibbio is a generous, professional, and efficient production company with a keen sense for narrative flow. Its employees are a delight to work with, and care deeply about creating social change and helping clients tell a good story.</p>
            <p>The videos dramatically increased our audience within Oslo and boosted our brand’s credibility. We look forward to working with Vibbio in the future, and would recommend them to anyone.</p>
            <div class="details">
                <%= image_tag 'http://via.placeholder.com/200x200' %>
                <p>
                    <span class="customer-name"></span>
                    <span class="customer-title">Oslo Freedom Forum</span>
                </p>
            </div>
        </div>
        <div class="single-quote">
            <p>Working with VIBBIO has been great - the communication and and execution has been smooth and pain free. VIBBIO’s ability to work quickly and deliver a solid product, combined with their ability to build strong customer relations, has made us look forward to working with them in the new year.</p>
            <div class="details">
                <%= image_tag 'http://via.placeholder.com/200x200' %>
                <p>
                    <span class="customer-name">Katharina Halkinrud</span>
                    <span class="customer-title">Microsoft Azure</span>
                </p>
            </div>
        </div>
        <div class="single-quote">
            <p> I have had the pleasure of working with Vibbio multiple times in various settings. They never fail to deliver. The team is positive, helpful and always ready on the fly. Their product is always delivered on time and produced in top-notch quality. I never fail to be immensely impressed after working with them.</p>
            <div class="details">
                <%= image_tag 'http://via.placeholder.com/200x200' %>
                <p>
                    <span class="customer-name">Isabelle Ringnes</span>
                    <span class="customer-title">#ShesGotThis</span>
                </p>
            </div>
        </div>
    </div>
</section>