<section class="quotes">
    <h2 class="section-heading">What our customers say</h2>
    <div class="columns">
        <div class="single-quote">
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <div class="details">
                <%= image_tag 'http://lorempixel.com/200/200/people/1' %>
                <p>
                    <span class="customer-name">Floria Tosca</span>
                    <span class="customer-title">Soprano, Teatro dell'Opera di Roma</span>                    
                </p>
            </div>
        </div>
        <div class="single-quote">
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
            <div class="details">
                <%= image_tag 'http://lorempixel.com/200/200/people/2' %>
                <p>
                    <span class="customer-name">Mario Cavaradossi</span>
                    <span class="customer-title">Painter, Sant'Andrea della Valle</span>
                </p>
            </div>
        </div>
        <div class="single-quote">
            <p>Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <div class="details">
                <%= image_tag 'http://lorempixel.com/200/200/people/3' %>
                <p>
                    <span class="customer-name">Baron Scarpia</span>
                    <span class="customer-title">Head of the Metropolitan Police, Rome</span>
                </p>
            </div>
        </div>
    </div>    
</section>