<div class="stats">
    <div class="talking-points">
        <div>
            <h2 class="section-heading">Traffic</h2>
            <h3 class="number">80%</h3>
            <p>of all web traffic will be online video by 2019</p>
        </div>
        <div>
            <h2 class="section-heading">Social media</h2>
            <h3 class="number">22 bn</h3>
            <p>video views every day on social media</p>
        </div>
        <div>
            <h2 class="section-heading">Views</h2>
            <h3 class="number">12x</h3>
            <p>more likely that a video is watched than text is read</p>
        </div>
    </div>
    <a href="https://video.vibbio.com/v.ihtml/player.html?token=67b5282edc79f3e5737eeb8412d34307&source=embed&photo%5fid=27077532&autoPlay=1" data-lity rel="nofollow">
        <svg fill="#FFFFFF" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
        </svg>
     Why video?</a>
</div>