<div class="stats">
    <div class="talking-points">
        <div>
            <h2 class="section-heading">Traffic</h2>
            <h3 class="number">80%</h3>
            <p>By 2019, online video will account for 80% of all web traffic.</p>
        </div>
        <div>
            <h2 class="section-heading">Views</h2>
            <h3 class="number">22bn</h3>
            <p>There are 22 bn video views every day on social media.</p>
        </div>
        <div>
            <h2 class="section-heading">Reach</h2>
            <h3 class="number">12x</h3>
            <p>Videos are 12 x more likely to be watched than text is to be read.</p>
        </div>
    </div>
    <%= link_to 'Get started today', '/plans' %>
</div>