<div class="stats">
    <div class="talking-points">
        <div>
            <h2 class="section-heading">Adoption</h2>
            <h3 class="number">87%</h3>
            <p>of online marketers use video content</p>
        </div>
        <div>
            <h2 class="section-heading">Results</h2>
            <h3 class="number">49%</h3>
            <p>faster revenue growth when marketing with video</p>
        </div>
        <div>
            <h2 class="section-heading">Social</h2>
            <h3 class="number">1200%</h3>
            <p>more shares than text and images combined</p>
        </div>
    </div>
    <%= link_to 'Get started today', '/plans' %>
</div>