<section class="uvp">
    <div class="main-content">
        <div class="text-wrapper">
        <h2>Video Creation.<br>For All Purposes.</h2>
            <p>
                Quickly and easily create videos for many different platforms and audiences.
            </p>
            <p>
                Stay on top of your video marketing strategy, and create more videos, cheaper and faster.
            </p>
            <p><%= link_to 'Learn more', '/product' %></p>
        </div>
        <div class="illus">
            <%= image_tag 'uvp1.png' %>
        </div>
    </div>
</section>