<section class="uvp">
    <h2>Video Creation. For All Purposes.</h2>
    <div class="main-content">
        <div class="text-wrapper">
            <p>
                Quickly and easily create videos for many different platforms and audiences.
            </p>
            <p>
                Stay on top of your video marketing strategy, and create more videos, cheaper and faster.
            </p>
        </div>
        <div class="illus">
            <%= image_tag 'uvp1.png' %>
        </div>
    </div>
</section>