<section class="uvp">
    <h2>Brand Consistency. Always.</h2>
    <div class="main-content">
        <div class="text-wrapper">
            <p>
                Every video will be brand consistent - always including your chosen colors, fonts, and logo.
            </p>
        </div>
        <div class="illus">
            <%= image_tag 'uvp3.png' %>
        </div>
    </div>
</section>