<section class="uvp">
    <div class="main-content">
        <div class="text-wrapper">
            <h2>Brand Consistency.<br>Always.</h2>
            <p>
                Every video will be brand consistent - always including your chosen colors, fonts, and logo.
            </p>
            <p><%= link_to 'Learn more', '/product' %></p>
        </div>
        <div class="illus">
            <%= image_tag 'uvp3.png' %>
        </div>
    </div>
</section>