<section class="uvp">
    <div class="main-content">
        <div class="text-wrapper">
            <h2>Three Solutions.<br>One Account.</h2>
            <p>
                Store your visual content, create video projects and receive extra services – all in one place.
            </p>
            <p><%= link_to 'Request a demo', 'https://info.vibbio.com/request-a-demo' %></p>
        </div>
        <div class="illus">
            <%= image_tag 'uvp4.png' %>
        </div>
    </div>
</section>