<section class="uvp">
    <div class="main-content">
        <div class="text-wrapper">
            <h2>Creative Control.<br>No Editing.</h2>
            <p>
                Collaborate with your team to create videos from any content - without the hassle of editing.
            </p>
            <p><%= link_to 'Learn more', '/product' %></p>
        </div>
        <div class="illus">
            <%= image_tag 'uvp2.png' %>
        </div>
    </div>
</section>