<section class="video-split">
    <h2>Marketing for the 21st century</h2>
    <main>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate eligendi ratione maiores delectus, quos pariatur assumenda consequuntur minima rerum et illo accusamus, obcaecati ut fugiat dolor minus. Doloribus, cum.</p>
            <p>Reprehenderit quaerat iure earum velit corporis consequuntur, perferendis obcaecati. Aliquam soluta dicta perspiciatis placeat incidunt beatae iusto cumque temporibus voluptas eaque excepturi, deleniti veniam eius amet maxime possimus a non?</span></p>
        </div>
        <div class="video-embed">
            <iframe src="https://player.vimeo.com/video/230150406?color=25cbd3&title=0&byline=0&portrait=0" width="400" height="224" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </main>
</section>