<div class="video-embed">
    <a href="<%= video_url %>"" class="video-placeholder" data-lity>
        <%= partial 'partials/play-button' %>
        <img src="<%= image_url %>" alt="<%= alt_text %>">
    </a>
</div>