<section class="video-reel <%= shade ||= '' %> ">
    <h2>Our work</h2>

    <p class="ingress">
        Whether you need videos for social media, websites, employee training, landing pages or newsletters, we’ve got your back.
    </p>

    <div class="videos">
        <!-- Spot: Productions] from VIBBIO -->
        <div id="ttspot27223607"></div>
        <script src="https://video.vibbio.com/spot/27223607/brkvgs3vvuu0bvphttw9/include.js" async></script>
    </div>
</section>
