<section class="video-examples <%= shade ||= '' %> ">
        <h2>Videos created with VIBBIO</h2>

        <div>
           <!-- Spot: Website footer] from VIBBIO -->
            <div id="ttspot27209503"></div>
            <script src="https://video.vibbio.com/spot/27209503/3jv0wn7x8lfijfd50e2u/include.js" async></script>
        </div>
        <a href="<%= link_url %>" class="button"><%= button_text %></a>
</section>