<section class="video-split">
    <main>
        <div class="content">
            <h2>A fully integrated video production workflow for marketing and communication teams</h2>

            <p>We know you long for higher video output, but barriers such as time and money often get in the way.</p>

            <p>VIBBIO is designed for you to be able to effortlessly integrate video into your marketing- and communication strategy.</p>

            <p>You can order the video production you need, when you need it. Create new video campaigns from scratch, or revamp your existing content to offer a new angle.</p>

            <p>We’ll guide you through the best practices, every step of the way - from planning, to copywriting and filming, and give you personalized help when you need it.</p>

            <p>With our credits-system, you simply order the services you need.</p>
        </div>
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/230150406', :image_url => 'http://placebeyonce.com/640-360', :alt_text => 'Customer testimonial'} %>
    </main>
</section>