<section class="video-split">
    <main>
        <div class="content">
            <p>VIBBIO offers a fully integrated video project workflow for marketing and communication teams.</p>

            <p>Studies show that videos are the clear winner in terms of engagement on Social Media, and also the preferred way for consumers to take in information.</p>
        </div>
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https://vimeo.com/255893896', :image_url => 'images/video-stills/pitch.jpg', :alt_text => 'Thumbnail for "Why video?" video clip'} %>
    </main>
</section>