<section class="video-split">
    <main>
        <div class="content">
            <p>VIBBIO offers a fully integrated video project workflow for marketing and communication teams.</p>

            <p>Studies show that videos are the clear winner in terms of engagement on Social Media, and also the preferred way for consumers to take in information.</p>
        </div>
        <%= partial 'partials/video-embed', :locals => {:video_url => 'https:////video.vibbio.com/v.ihtml/player.html?token=ba2cd75fcfc131e0d948a83e13fec90f&source=embed&photo%5fid=27081844&autoPlay=1', :image_url => '/images/video-stills/pitch.jpg', :alt_text => "Thumbnail for 'VIBBIO - video mega trend' clip", :rel => 'nofollow'} %>
    </main>
</section>