<section class="video-ideas">
    <div class="wrapper">
        <div class="item">
            <h2>Video marketing</h2>
            <p>The way we communicate is changing - and so should the way we do marketing. In the last years, video has stood out as one of the most efficient marketing tools.</p>
            <a href="resources.html">Learn more</a>
        </div>
        <div class="item">
            <h2>Video production</h2>
            <p>Video has proven itself as the best marketing tool. The problem is that video production can be both expensive and time consuming.</p>
            <a href="resources.html">Learn more</a>
        </div>
        <div class="item">
            <h2>Internal communication</h2>
            <p>Keeping your employees updated about what’s going on in the company, or training them on new products or services in a fun and engaging way can make a big difference in their work-day.</p>
            <a href="resources.html">Learn more</a>
        </div>
    </div>
</section>