<section class="video-split">
    <main>
        <div class="content">
            <h2>Marketing for the 21st century</h2>
            
            <p>We know you long for higher video output, but barriers such as time and money often get in the way.</p>
            
            <p>VIBBIO is designed for you to be able to effortlessly integrate video into your marketing- and communication strategy.</p>

            <p>You can order the video production you need, when you need it. Create new video campaigns from scratch, or revamp your existing content to offer a new angle.</p>

            <p>We’ll guide you through the best practices, every step of the way - from planning, to copywriting and filming, and give you personalized help when you need it.</p>

            <p>With our credits-system, you simply order the services you need.</p>
        </div>
        <div class="video-embed">
            <iframe src="https://player.vimeo.com/video/230150406?color=25cbd3&title=0&byline=0&portrait=0" width="400" height="224" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </main>
</section>