<div class="video-reel">
    <h2>Our videos</h2>

    <p class="ingress">With VIBBIO, it’s easy as pie to create videos like these</p>

    <div class="videos">
        <div class="single-video">
            <%= image_tag 'http://via.placeholder.com/230x129' %>
            <p class="caption">
                <span class="customer">No Isolation</span>
                KOMP
                <span class="date">November 2017</span>
            </p>
        </div>
        <div class="single-video">
            <%= image_tag 'http://via.placeholder.com/230x129' %>
            <p class="caption">
                <span class="customer">No Isolation</span>
                KOMP
                <span class="date">November 2017</span>
            </p>
        </div>
        <div class="single-video">
            <%= image_tag 'http://via.placeholder.com/230x129' %>
            <p class="caption">
                <span class="customer">No Isolation</span>
                KOMP
                <span class="date">November 2017</span>
            </p>
        </div>
    </div>
    
    <%= link_to 'Learn more', '/product.html' %>
</div>
