<div class="video-reel">
    <h2>Our videos</h2>

    <p class="ingress">With VIBBIO, it’s easy as pie to create videos like these</p>

    <div class="videos">
        <div class="single-video">
            <iframe src="https://player.vimeo.com/video/243855720?color=25cbd3&title=0&byline=0&portrait=0" width="230" height="129" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p class="caption">
                <span class="customer">No Isolation</span>
                KOMP
                <span class="date">November 2017</span>
            </p>
        </div>
        <div class="single-video">
            <iframe src="https://player.vimeo.com/video/243855720?color=25cbd3&title=0&byline=0&portrait=0" width="230" height="129" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p class="caption">
                <span class="customer">No Isolation</span>
                KOMP
                <span class="date">November 2017</span>
            </p>
        </div>
        <div class="single-video">
            <iframe src="https://player.vimeo.com/video/243855720?color=25cbd3&title=0&byline=0&portrait=0" width="230" height="129" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p class="caption">
                <span class="customer">No Isolation</span>
                KOMP
                <span class="date">November 2017</span>
            </p>
        </div>
        <div class="single-video">
            <iframe src="https://player.vimeo.com/video/243855720?color=25cbd3&title=0&byline=0&portrait=0" width="230" height="129" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p class="caption">
                <span class="customer">No Isolation</span>
                KOMP
                <span class="date">November 2017</span>
            </p>
        </div>
        <div class="single-video">
            <iframe src="https://player.vimeo.com/video/243855720?color=25cbd3&title=0&byline=0&portrait=0" width="230" height="129" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p class="caption">
                <span class="customer">No Isolation</span>
                KOMP
                <span class="date">November 2017</span>
            </p>
        </div>
    </div>
    
    <%= link_to 'Learn more', '/product.html' %>
</div>
