<section class="video-grid">
    <!-- Spot: About] from VIBBIO -->
    <div id="ttspot27223812"></div>
    <script src="https://video.vibbio.com/spot/27223812/t2ml88zi76l38t23vgql/include.js" async></script>
</section>