.vibbio-bare-button {
    border-radius: 2.5em;
    border: none;
    font-family: $heading-font-family;
    padding: 1.5em 2.5em;
    transition: all $base-duration $base-timing;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: .15em;
    text-decoration: none;
    text-transform: uppercase;
}
.vibbio-primary-button {
    @extend .vibbio-bare-button;
    background-color: $turquoise;
    color: $white;
    &:hover {
        background-color: $petroleum;
    }
}
.vibbio-inverted-button {
    @extend .vibbio-bare-button;
    background-color: $white;
    color: $petroleum;
    &:hover {
        background-color: $turquoise;
        color: $white;
    }
}

.measure {
    max-width: 30em;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: modular-scale(6) 4rem;
}

.tinted {
    background-color: $light-turquoise;
}

.responsive-video-50 {
    display: flex;
    width: 50%;

    iframe {
        background-color: $white;
        border-radius: $base-border-radius;
        // box-shadow: 0 5px 20px rgba(186, 186, 186, .52);
        overflow: hidden;
        width: 100%;
    }
}
@media screen and (max-width: 520px) {
    .responsive-video-50 iframe {
        height: 100%;
    }
}
