:root {
    --path-length: 1000;
    --duration: 5s;
}

.vibbio-bare-button {
    border-radius: 2.5em;
    border: none;
    cursor: pointer;
    display: block;
    font-family: $heading-font-family;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: .15em;
    padding: 1.2em 2.4em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all $base-duration $base-timing;
}
.vibbio-primary-button {
    @extend .vibbio-bare-button;
    background-color: $turquoise;
    color: $white;
    &:hover {
        background-color: $petroleum;
    }
}
.vibbio-inverted-button {
    @extend .vibbio-bare-button;
    background-color: $white;
    color: $petroleum;
    &:hover {
        background-color: $turquoise;
        color: $white;
    }
}
.vibbio-inverted-video-button {
    @extend .vibbio-inverted-button;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 1.5rem;
      margin-right: .5rem;
      transition: fill $base-duration $base-timing;
      width: 1.5rem;
    }
    &:hover svg {
      fill: #FFF;
    }
}
.vibbio-video-button {
    @extend .vibbio-primary-button;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 1.5rem;
      margin-right: .5rem;
      transition: fill $base-duration $base-timing;
      width: 1.5rem;
    }
}

.measure {
    max-width: 30em;
}
.narrow-measure {
    max-width: 26em;
}
.bullet-list {
    li:before {
        content: '●';
        color: $petroleum;
        position: relative;
        display: inline-block;
        margin-right: 0.5em;
    }
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: modular-scale(6) 4rem;
}

.split {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
/*     div:not(.play-button) {
        width: calc(50% - 1rem);
        max-width: 50vw;
    }
 */}

.card {
    background-color: $white;
    border: 1px solid #ededed;
    border-radius: $base-border-radius;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow $base-duration $base-timing;
    &:hover {
        box-shadow: 0 5px 20px rgba(186, 186, 186, .52);
    }
}

.tinted {
    background-color: $secondary-background-color;
}

.play-button {
    fill: $white;
    display: block;
    position: absolute;
    z-index: 99;
    transition: fill $base-timing $base-duration;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
.lity-close {
    right: 2rem;
}

#symbol-outline {
    max-width: 166px;
}

#symbol-outline path {
    stroke-dasharray: var(--path-length);
    stroke-dashoffset: var(--path-length);
    animation: draw var(--duration) cubic-bezier(.45,.05,.55,.95) forwards infinite;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width: 900px) {
    .split {
        flex-direction: column-reverse;
        div:not(.play-button) {
            width: 100%;
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 520px) {
    .responsive-video-50 iframe {
        height: 100%;
    }
}
