.benefits {
    background-color: $light-turquoise;

    h2 {
        @extend .section-heading;
        text-align: left;
    }
    p {
        line-height: 1.4;
        width: 16em;
    }
    .wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1440px;
        padding: modular-scale(4) 4rem;
        width: 100%;
    }
    .item {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        min-width: 16em;
        width: calc(100% / 4);
    }
}
@media screen and (min-width: 650px) {
    .benefits {
        justify-content: space-between;
    }
}