.benefits {
    align-items: flex-start;
    background-color: $light-turquoise;
    flex-direction: row;
    flex-wrap: wrap;
    padding: modular-scale(4) 4rem;

    h2 {
        @extend .section-heading;
        text-align: left;
    }
    div {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        min-width: 16em;
        width: calc(100% / 4);
    }
    p {
        line-height: 1.4;
        width: 16em;
    }
}
@media screen and (min-width: 650px) {
    .benefits {
        justify-content: space-between;
    }
}