.benefits {
    align-items: flex-start;
    background-color: $light-turquoise;
    flex-direction: row;
    justify-content: space-between;
    padding: modular-scale(4) 4rem;

    h2 {
        @extend .section-heading;
        text-align: left;
    }
    div {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        width: calc(100% / 4);
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    p {
        line-height: 1.4;
        width: 16em;
    }
}
@media screen and (max-width: 600px) {
    .benefits {}
}