.careers {
    display: block;

    .card-layout {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 52rem;
        margin: 0 auto;
        & > a {
            color: $base-font-color;
            text-decoration: none;
        }
    }

    h2 {
        @extend .h2;
    }
    h3 {
        @extend .section-heading;
        margin-top: modular-scale(4);
        margin-bottom: modular-scale(3);
    }
    .job-card {
        @extend .card;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 7.5rem;
        margin: 0 .5rem 1rem;
        padding: 1rem 2rem;
        width: 25rem;
    }
    .job-title {
        font-size: modular-scale(1);
        font-family: $heading-font-family;
        line-height: 1.2;
        transition: color $base-duration $base-timing;
    }
    .job-location {
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: modular-scale(-1);
        color: transparentize($base-font-color, 0.2);
    }
    a:hover .job-title {
        color: $turquoise;
    }
}

@media screen and (max-width: 1079px) {
    .careers {
        & .card-layout {
            justify-content: center;
        }
    }
}
@media screen and (max-width: 430px) {
    .careers {
        & .card-layout {
            max-width: 100%;
            width: 100%;
            & > a {
                width: 100%;
            }
        }
        & .job-card {
            margin: 0 0 1rem 0;
            min-width: 100%;
            width: 100%;
        }
        & .job-title {
        font-size: modular-scale(0);
        }
    }
}