.form h2 {
    max-width: 18em;
}
legend {
    width: 1px;
    height: 1px;
    overflow: hidden;
}
fieldset {
    border: none;
}
label {
    color: $dark-petroleum;
    line-height: 2;
}
label:before {
    transition: all $base-duration $base-timing;
}
label:hover:before {
    border-color: $turquoise !important;
}
#specialties > label {
    color: $base-font-color;
}
#specialties > div {
    height: 3;
}
input, textarea {
    border: 1px solid transparentize($base-font-color, 0.6);
    border-radius: $base-border-radius;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: modular-scale(0);
    line-height: 1.6;
    padding: .5em;
    width: 100%;
    transition: all $base-duration $base-timing;

}
input:focus, textarea:focus {
    border: 1px solid $turquoise;
    outline: none;
}
input {
    height: 2.5em;
    vertical-align: middle;
}
textarea {
    margin-top: .5em;
    resize: none;
    overflow: auto;
}
.form-heading {
    @extend .section-heading;
}
.form-heading:not(:first-of-type) {
    margin: modular-scale(4) 0 modular-scale(2);
}
form p {
    margin-bottom: 1em;
}
form em {
    color: transparentize($base-font-color, 0.2);
}
form label em {
    font-size: modular-scale(-1);
    margin-left: 1rem;
    vertical-align: text-top;
}
button {
    @extend .vibbio-primary-button;
    margin: modular-scale(4) auto 0;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    cursor: pointer;
    transition: all $base-duration $base-timing;

    &:hover {
        color: $turquoise;
    }
}
[type="checkbox"] + label:before {
    display: inline-block;
    position: relative;
    opacity: .6;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 0.5em;
    margin-top: -0.1em;
    padding: 0;
}
[type="checkbox"]:not(:checked) + label:before {
    content: url('data:image/svg+xml,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}
[type="checkbox"]:checked + label:before {
    content: url('data:image/svg+xml,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="M0 0h24v24H0z" fill="none"/> <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/> </svg>');
}
[type="checkbox"]:checked:focus + label,
[type="checkbox"]:not(:checked):focus + label {
  color: $turquoise;
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    box-shadow: 0 0 2px 2px $turquoise;
}
