.contact {
    h2 {
        @extend .h2;
        margin-bottom: modular-scale(2);
    }
    h3 {
        @extend .section-heading;
        text-align: left;
        padding-bottom: .5em;
    }
    .split {
        align-items: flex-start;
        justify-content: center;
        & .map {
            filter: grayscale(50%);
            width: 600px;
        }
    }
    .contact-details {
        margin: 0 2rem;
    }
    ul {
        margin-bottom: modular-scale(2);
    }
    li {
        padding-bottom: .5em;
    }
    em {
        color: transparentize($base-font-color, 0.2);
    }
}

@media screen and (max-width: 1300px) {
    .contact .split {
        align-items: center;
        flex-direction: column-reverse;
    }
    .contact h2 {
        margin-bottom: modular-scale(1);
    }
    .contact p:last-of-type {
        margin-bottom: modular-scale(4);
    }
}
@media screen and (max-width: 700px) {
    .contact {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .contact .contact-details {
        margin: 0;
        padding: 0 4rem;
    }
    .contact .split .map {
        width: 100%;
        margin: 0 -4rem;
        overflow: hidden;
    }
}