.contact {
    h2 {
        @extend .h2;
        margin-bottom: modular-scale(2);
    }
    h3 {
        @extend .section-heading;
        text-align: left;
        padding-bottom: .5em;
    }
    .split {
        align-items: flex-start;
    }
    .map {
        overflow: hidden;
    }
    ul {
        margin-bottom: modular-scale(2);
    }
    li {
        padding-bottom: .5em;
    }
    em {
        color: transparentize($base-font-color, 0.2);
    }
}

@media screen and (max-width: 900px) {
    .contact h2 {
        margin-bottom: modular-scale(1);
    }
    .contact p:last-of-type {
        margin-bottom: modular-scale(2);
    }
}