.customer-logos {
    opacity: 0.8;
    padding: modular-scale(4) 0 0 0;
    h2 {
        margin-bottom: modular-scale(4);
    }
    .logo-list {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    li {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 2rem;
        margin: 1rem 2rem;
    }
    img {
        max-width: 10rem;
        height: 2rem;
        width: auto;
        opacity: .5;
        transition: all $base-duration $base-timing;
        &:hover {
            opacity: .7;
        }
        &#Adecco, &#Visma, &#Microsoft {
            height: 1.3rem;
        }
        &#Tripletex, &#Orkla {
            margin-top: -.5rem;
        }
    }
}