.customer-logos {
    background-color: $white;
    box-shadow: 0 0 4px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.2);
    display: flex;
    margin-top: -3px;
    overflow: hidden;
    padding: modular-scale(0) 0;
    z-index: 2;
    h2 {
        margin-bottom: modular-scale(4);
    }
    .logo-list {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        opacity: 0.8;
        overflow: hidden;
        animation: slide 300s linear infinite;
    }

    li {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 2rem;
        margin: 1rem 2rem;
    }
    img {
        max-width: 10rem;
        height: 2rem;
        width: auto;
        opacity: .5;
        transition: all $base-duration $base-timing;
        &:hover {
            opacity: .7;
        }
        &#Visma {
            height: 1.3rem;
        }
        &#Orkla {
            margin-top: -.5rem;
        }
        &#Scandic {
            height: 175%;
        }
        &#PierreRobert {
            height: 1.5rem;
        }
        &#SopraSteria {
            height: 1.1rem;
        }
    }
}
@media screen and (min-width: 1600px) {
    .customer-logos {
        justify-content: center;
        & .logo-list {
            animation: none;
        }
        & .logo-list:nth-of-type(2n) {
            display: none;
        }
    }
}

@keyframes slide {
    from {
        transform: translate3d(-100%,0,0);
    }
    to {
        transform: translate3d(0,0,0);
    }
}