.customer-logos {
    text-align: center;
    padding: modular-scale(5) 0px;
    background-color: $light-turquoise;
    // background-color: white;
    h2 {
        margin-bottom: modular-scale(3);
    }
    img {
        height: 1.5rem;
        margin: .5rem 1.5rem;
        filter: grayscale(1.0);
        opacity: .8;
        cursor: pointer;
        transition: all $base-duration $base-timing;
        &:hover {
            filter: none;
            opacity: 1;
        }
    }
}