.faq {
    .faq-list {
        margin: 0 auto;
    }
    h1 {
        @extend .h1;
        margin-bottom: modular-scale(1);
    }
    h2 {
        @extend .section-heading;
        margin: modular-scale(3) 0 modular-scale(1) 0;
        width: 100%;
        grid-column: 1 / 3;
    }
    h3 {
        @extend .narrow-measure;
        color: $petroleum;
        font-family: $base-font-family;
        font-weight: bold;
        font-size: $base-font-size;
        line-height: 1.4;
        max-width: 27rem;
        text-align: left;
    }
    p {
        @extend .narrow-measure;
    }
    ul {
        @extend .bullet-list;
        @extend .narrow-measure;
        padding-bottom: modular-scale(0);
    }
    .faq-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .question {
        margin: 0 1rem 2rem 1rem;
    }
}
@supports (display: grid) {
    .faq .faq-list {
        display: grid;
        grid-gap: 2rem 4rem;
        grid-template-columns: 27rem 27rem;
        justify-content: center;
    }
    .faq .question {
        margin: 0;
        max-width: 27rem;
    }

}
@media screen and (max-width: 1190px) {
    @supports (display: grid) {
        .faq .faq-list {
            grid-template-columns: repeat(2, 1fr);
        }
        .faq .question {
            max-width: 26em;
            width: 100%;
        }
    }
}

@media screen and (max-width: 860px) {
    .faq h1 {
        text-align: center;
    }
    .faq .faq-list {
        justify-content: flex-start;
        grid-template-columns: 1fr;
        grid-gap: 2rem 0;

    }
    .faq .question {
        width: 100%;
    }
}