footer {
    background-color: $dark-anthracite;
    color: transparentize($white, 0.4);
    font-family: $heading-font-family;
    font-size: modular-scale(-1);
    padding: 3.5rem 4rem 2rem;

    a {
        color: $white;
        opacity: .6;
        text-decoration: none;
        transition: opacity $base-duration $base-timing;
        &:hover {
            color: $white;
            opacity: 1;
        }
    }

    main {
        align-items: flex-start;
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .logo {
        margin-bottom: 1rem;
        opacity: 0.5;
    }
    .about-vibbio p {
        @extend .measure;
    }

    .links {
        align-content: flex-start;
        display: flex;
        justify-content: center;
        margin: 0 2rem;
        ul {
            padding: 0 2rem;
        }
        li {
            padding-bottom: 1em;
        }
    }

    h2 {
        font-size: modular-scale(0);
        font-weight: $base-font-weight;
        padding-bottom: .5rem;
    }

    .social-icons {
        align-content: center;
        display: flex;
        justify-content: flex-end;
        a img {
            opacity: .5;
            transition: opacity $base-duration $base-timing;
        }
        a:hover img {
            opacity: .8;
        }

        img {
            height: 4rem;
            width: 4rem;
            padding-left: 1rem;
        }
    }

    aside {
        align-content: center;
        border-top: $base-border;
        display: flex;
        justify-content: space-between;
        padding: modular-scale(1) 0;

        ul {
            display: flex;
        }
        li:first-child::after {
                content: '/';
                padding: 0 1em;
        }
        p {
            opacity: 0.6;
        }
    }
}