footer {
    background-color: $dark-anthracite;
    color: transparentize($white, 0.4);
    font-family: $heading-font-family;
    font-size: modular-scale(-1);
    padding: 3.5rem 4rem 2rem;

    a {
        color: $white;
        opacity: .6;
        text-decoration: none;
        transition: opacity $base-duration $base-timing;
        &:hover {
            color: $white;
            opacity: 1;
        }
    }

    main {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        div {
            width: calc(30% - (4rem/3));
        }
    }
    .logo {
        margin-bottom: 1rem;
        opacity: 0.5;
    }
    .about-vibbio p {
        @extend .measure;
    }

    .links {
        align-content: flex-start;
        display: flex;
        justify-content: center;
        margin: 0 2rem 1rem;
        ul {
            padding: 0 2rem;
        }
        li {
            padding-bottom: 1em;
        }
    }

    h2 {
        font-size: modular-scale(0);
        font-weight: $base-font-weight;
        padding-bottom: .5rem;
    }

    .social-icons {
        align-items: flex-start;
        display: flex;
        justify-content: flex-end;
        a img {
            opacity: .5;
            transition: opacity $base-duration $base-timing;
        }
        a:hover img {
            opacity: .8;
        }

        img {
            width: 4rem;
            padding-left: 1rem;
        }
    }

    aside {
        align-content: center;
        border-top: $base-border;
        display: flex;
        justify-content: space-between;
        padding: modular-scale(1) 0;

        ul {
            display: flex;
        }
        li:first-child::after {
                content: '/';
                padding: 0 1em;
        }
        p {
            opacity: 0.6;
        }
    }

    @media screen and (max-width: 939px) {
        .links {
            flex-direction: column;
        }
    }
    @media screen and (max-width: 649px) and (min-width: 515px) {
        .social-icons {
            align-items: flex-end;
            flex-direction: column;
            img {
                padding-bottom: .75rem;
            }
        }
    }     
    @media screen and (max-width: 514px) {
        main, aside {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div {
                width: 100%;
            }
        }
        .logo {
            display: block;
            margin: 0 auto 1rem;
        }
        .about-vibbio {
            margin-bottom: 1rem;
        }
        .links ul {
            padding: 0;
        }
        .social-icons {
            justify-content: center;
        }
    }

}