.get-started {
    @extend .marketplace;
    margin: 0 auto;

    h2 {
        margin-bottom: modular-scale(2);
    }
    .wrapper {
        max-width: 78rem;
    }
    a.button {
        @extend .vibbio-primary-button;
    }
}

@media screen and (max-width: 450px) {
    .get-started .area {
        flex-direction: column;
    }
    .get-started img {
        margin: 0 auto 1.5rem auto;
        text-align: center;
    }
}