.hero {
  align-items: center;
  background-color: $turquoise;
  background-size: cover;
  border-bottom: 2px solid $white;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 640px;
  position: relative;
  text-align: center;

  h1 {
    color: $white;
    font-size: modular-scale(4);
    margin: modular-scale(2) 4rem modular-scale(0);
    text-shadow: 0 1px 3px transparentize($dark-petroleum, 0.4);
  }
  p {
    font-size: modular-scale(2);
    margin: 0 4rem;
    max-width: 27em;
    padding-bottom: 2rem;
    text-shadow: 0 1px 3px transparentize($dark-petroleum, 0.4);
  }
  a:not(.video-placeholder) {
    @extend .vibbio-inverted-video-button;
    text-shadow: none;
  }

  .half-circle {
    bottom: 2rem;
    height: 2rem;
    left: calc(50% - 1rem);
    position: absolute;
    width: 2rem;
    animation: move 2s ease-in-out infinite;

    img {
      height: 2rem;
      width: 2rem;
    }
    &:nth-of-type(2) {
      animation-delay: 600ms;
    }
  }
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 1.5rem, 0);
  }
}

// SPECIAL STYLES PER PAGE

.index .hero {
    background-image: $banner-gradient-overlay,
                      url(../images/hero/so-me.jpg);
  p:last-of-type {
    font-size: modular-scale(1);
  }
}
.product .hero {
    background-image: $banner-gradient-overlay,
                      url(../images/hero/mobile-back.jpg);
}
.plans .hero {
    background-image: $banner-gradient-overlay,
                      url(../images/hero/mobile-front.jpg);
}
.about .hero {
    background-image: $banner-gradient-overlay,
                      url(../images/hero/desk.jpg);
}
.vibbio-productions .hero {
    background-image: url(../images/hero/banner_illus_1.svg),
                      $banner-gradient;
  .split {
    justify-content: space-around;
    margin: 0 modular-scale(4);
    max-width: 1440px;
    width: 100%;
    h1 {
      margin: 0;
      max-width: calc(40% - 4rem);
      text-align: right;
    }
    a {
        background-color: transparent;
    }
  }
  .split div:first-child {
    h1, p {
      text-align: left;
    }
  }
  .video-placeholder {
      border-radius: $base-border-radius;
  }
  .video-embed {
    justify-content: flex-start;
  }
}
.community .hero {
  background-image: url(../images/hero/banner_illus_1.svg),
                      $banner-gradient;
  height: auto;
  border-bottom: none;
  min-height: auto;
  padding-bottom: modular-scale(3);

  h1 {
    margin: modular-scale(3) 4rem modular-scale(0);

  }
}
.x404 .hero {
  background-image: url(../images/hero/banner_illus_1.svg),
                    $banner-gradient;
  border-bottom: none;
}

@media screen and (max-width: 900px) {
  .about .hero,
  .vibbio-productions .hero {
    .split {
      flex-direction: column;
      justify-content: space-evenly;
      height: 70%;
      margin: 0;

      & h1 {
        max-width: none;
        text-align: center;
      }
    }
    .video-embed {
      justify-content: center;
      width: 100%;
    }
  }
}
@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: modular-scale(3);
    padding: 0 1rem;
  }
}