.hero {
  align-items: center;
  background-color: $turquoise;
  background-size: cover;
  border-bottom: 2px solid $white;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 640px;
  position: relative;
  text-align: center;

  h1 {
    color: $white;
    font-size: modular-scale(4);
    line-height: 1.4;
    margin: modular-scale(2) 4rem modular-scale(0);
    text-shadow: 0 1px 3px transparentize($dark-petroleum, 0.4);
  }
  p {
    font-size: modular-scale(2);
    margin: 0 4rem;
    max-width: 27em;
    padding-bottom: 2rem;
    text-shadow: 0 1px 3px transparentize($dark-petroleum, 0.4);
  }
  a:not(.video-placeholder) {
    @extend .vibbio-inverted-video-button;
    box-shadow: 0 2px 4px rgba(0,0,0,0.21);
    text-shadow: none;
  }
}

// SPECIAL STYLES PER PAGE

.index .hero {
    background-image: $banner-gradient-overlay;
    height: auto;
    overflow: hidden;
    h1 {
      margin-top: modular-scale(4);
    }
    .video-placeholder {
      border-radius:3px 3px 0 0;
    }
}
.product .hero {
    background-image: $banner-gradient-overlay,
                      url(../images/hero/mobile-back.jpg);
}
.plans .hero {
    background-image: $banner-gradient-overlay,
                      url(../images/hero/mobile-front.jpg);
}
.about .hero {
    background-image: linear-gradient(90deg, rgba(38, 203, 212, .5) 0%, rgba(34,193,203, .5) 16%, rgba(26,167,180, .5) 42%, rgba(12,125,143, .5) 75%, rgba(0,88,111, .5) 100%),
                      url(../images/hero/desk.jpg);
}
.vibbio-productions .hero {
    background-image: url(../images/hero/banner_illus_1.svg),
                      $banner-gradient;
  .split {
    justify-content: space-around;
    margin: 0 modular-scale(4);
    max-width: 1440px;
    width: 100%;
    h1 {
      margin: 0;
      max-width: calc(40% - 4rem);
      text-align: right;
    }
    a {
        background-color: transparent;
    }
  }
  .split div:first-child {
    h1, p {
      text-align: left;
    }
  }
  .video-placeholder {
      border-radius: $base-border-radius;
  }
  .video-embed {
    justify-content: flex-start;
  }
}
.x404 .hero {
  background-image: url(../images/hero/banner_illus_1.svg),
                    $banner-gradient;
  border-bottom: none;
}

@media screen and (max-width: 900px) {
  .about .hero,
  .vibbio-productions .hero {
    .split {
      flex-direction: column;
      justify-content: space-evenly;
      height: 70%;
      margin: 0;

      & h1 {
        max-width: none;
        text-align: center;
      }
    }
    .video-embed {
      justify-content: center;
      width: 100%;
    }
  }
}
@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: modular-scale(2);
    padding: 0 1rem;
  }
  .hero p {
    font-size: modular-scale(1);
  }
}