.introduction {
    background-color: $light-turquoise;
    h2 {
        @extend .h3;
        font-weight: 400;
        line-height: $base-line-height;
        margin-bottom: modular-scale(1);
        max-width: 30em;
    }
    p {
        @extend .ingress;
        margin-bottom: modular-scale(0);
    }
}