.introduction {
    background-color: $light-turquoise;
    h2 {
        @extend .h3;
        color: $dark-petroleum;
        font-weight: 400;
        letter-spacing: 0.05em;
        line-height: $base-line-height;
        margin-bottom: modular-scale(3);
        max-width: 30em;
        text-transform: uppercase;

        div {
            color: $petroleum;
            font-size: 1.7em;
            font-weight: 700;
        }
    }
    a {
        @extend .vibbio-inverted-video-button;
        text-shadow: none;
    }

    .columns {
        display: flex;
        justify-content: space-evenly;
        margin-top: modular-scale(4);
    }
    p {
        max-width: 24em;
        margin: 0 2rem;
        min-width: 12em;
        width: calc(33.3333% - 4rem);
    }
}

@media screen and (max-width: 935px) {
    .introduction .columns {
        flex-direction: column;
    }
    .introduction p {
        max-width: 26em;
        margin: 0;
        margin-bottom: 1rem;
        min-width: 18em;
        width: 100%;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 419px) {
    .introduction h2 div {
        margin: .5rem 0;
    }
}