.marketplace {
    background-color: $light-turquoise;
    h2 {
        @extend .h2;
    }
    ul {
    }
    li {
        margin-bottom: modular-scale(2);
    }
    img {
        display: block;
        height: 2rem;
        width: 2rem;
        margin-right: 1.5rem;
    }
    .title {
        @extend .section-heading;
        text-align: left;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-areas {
        display: flex;
        margin: 0 2rem modular-scale(3) 2rem;
        max-width: 27rem;
    }
}

@media screen and (max-width: 570px) {
}