.marketplace {
    h2 {
        @extend .h2;
    }
    h3 {
        @extend .section-heading;
        text-align: left;
    }
    .section {
        margin-bottom: modular-scale(2);
    }
    img {
        display: block;
        height: 2rem;
        width: 2rem;
        margin-right: 1.5rem;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .area {
        align-items: flex-start;
        display: flex;
        margin: 0 2rem modular-scale(3) 2rem;
        max-width: 22em;
    }
}

@media screen and (max-width: 450px) {
    .marketplace .area {
        flex-direction: column;
        margin: 0 0 modular-scale(2) 0;
    }
    .marketplace img {
        margin: 0 auto 1.5rem auto;
        text-align: center;
    }
}