.no-more-barriers {
    background-color: $light-turquoise;
    background-image: url(../images/hero/banner_illus_1.svg),
                      $banner-gradient;
    background-size: cover;
    h2 {
        @extend .h2;
        color: $white;
    }
    p {
        @extend .ingress;
        color: $white;
        margin-bottom: modular-scale(1);
    }
    p:last-child {
        margin-bottom: 0;
    }
}