.subscriptions {
    // background-color: $light-turquoise;
    h2 {
        @extend .h2;
        margin-bottom: modular-scale(1);
    }
    h3 {
        @extend .section-heading;
        margin: modular-scale(4) 0 modular-scale(2);
    }
    em {
        opacity: .7;
    }

    .wrapper {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: modular-scale(4);
        width: 100%;
    }
    .standard-plan {
        background-color: $white;
        border-radius: $base-border-radius;
        border: 1px solid transparentize($dark-petroleum, 0.7);
        box-shadow: 0 5px 20px rgba(186, 186, 186, .52);
        cursor: default;
        margin: 0 2rem;
        padding: 2.5rem 3rem 2rem;
        text-align: center;
        h3 {
            margin: 0.75em;
        }
        .signup-button {
            @extend .vibbio-primary-button;
            margin-top: 2.5rem;
        }
        ul.credits {
            margin-bottom: modular-scale(1);
            li:first-of-type {
                color: $petroleum;
                font-weight: bold;
            }
            li:nth-of-type(2) {
                font-size: modular-scale(-1);
                opacity: 0.8;
            }
        }
        p.onboarding {
            margin-top: modular-scale(2);
            opacity: 0.8;
        }
        p:last-of-type {
            font-size: modular-scale(-1);
            margin-top: modular-scale(2);
        }
    }
    .special-plans {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2rem;
        padding: 2.5rem 2rem;

        h3:first-child {
            margin-top: 0;
        }
        h3:nth-of-type(2) {
            margin-top: modular-scale(6);
        }
        li {
            text-align: center;
        }
    }
    .price {
        font-family: $heading-font-family;
        color: $petroleum;
        font-size: modular-scale(3);
        line-height: 1;
        margin: 0;
        padding: modular-scale(0) 0 1rem;
        white-space: nowrap;
    }
    .price-small {
        font-family: $heading-font-family;
        color: $petroleum;
        font-size: modular-scale(1);
        line-height: 1;
        padding-bottom: modular-scale(1);
        white-space: nowrap;
    }
    .comment {
        @extend .fineprint;
    }
    .valuta {
        font-size: modular-scale(-3);
    }
    .contact-button {
        @extend .vibbio-bare-button;
        border: 1px solid transparentize($anthracite, 0.7);
        color: $anthracite;
        display: inline-block;
        margin: 2.5rem auto 0;
        width: auto;
        &:hover {
            background-color: $turquoise;
            border: 1px solid $turquoise;
            color: $white;
        }
    }

    .credits-overview {
        margin-top: modular-scale(2);
    }
    .credits-table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: modular-scale(3);

        table {
            border-collapse: collapse;
            margin: 0 0 2rem;
            table-layout: fixed;
        }
        thead th {
            @extend .section-heading;
            color: $base-font-color;
            opacity: 0.8;
            padding: .5em 3em 1em;
            text-align: left;
        }
        tbody tr:nth-child(even) {
            background-color: $light-turquoise;
        }
        tbody td {
            padding: .5em 2em;
            &:nth-child(even) {
                font-weight: bold;
            }
            &:nth-child(odd) {
                opacity: 0.8;
            }
        }
    }
}

