.plans-include {
    @extend .how-does-it-work;
    h2 {
        margin-bottom: modular-scale(1);
    }
    h3 {
        @extend .section-heading;
        line-height: 1.6;
        padding-top: modular-scale(1);
        text-align: left;
    }
    p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }
    #open-sign {
        transform: rotate(9deg);
        transform-origin: top center;
        animation: sway 5s cubic-bezier(.68,-0.55,.27,1.55) infinite alternate;
    }
}

@media screen and (max-width: 960px) {
    /* Fall back for IE 11 */
    .plans-include ul {
        flex-wrap: wrap;
        width: 100%;
    }
    .plans-include li {
        margin-bottom: 0;
        width: calc(50% - 4rem);
    }
    @supports (display: grid) {
        .plans-include ul {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 4rem;
        }
        .plans-include li {
            width: 100%;
        }
    }
}
@media screen and (max-width: 520px) {
    /* Fall back for IE 11 */
    .plans-include ul {
        flex-direction: column;
        margin-top: modular-scale(2);
    }
    .plans-include li {
        margin: 0 auto modular-scale(3);
        width: 100%;
    }
    @supports (display: grid) {
        .plans-include ul {
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            width: 100%;
        }
        .plans-include li {
            margin: 0 auto;
        }
    }
}
@keyframes sway {
    20%, 100% {
        transform: rotate(-9deg);
    }
}