.quotes {
    background-color: $light-turquoise;

    .columns {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: modular-scale(3);
        width: 100%;
    }
    
    .single-quote {
        padding: 0 2rem 2rem;
    }
    .single-quote:first-child {
        padding-left: 0;
    }
    .single-quote:last-child {
        padding-right: 0;
    }

    p {
        max-width: 18em;
        margin: 0;
        padding-bottom: 1.5em;
    }
    .details {
        display: flex;
        padding: 0;
    }
    .details img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: inline-block;
        float: left;
        margin-right: 1rem;
    }
    span {
        display: block;
    }
    .customer-name {
        @extend .section-heading;
        text-align: left;
    }
    .customer-title {
        font-size: modular-scale(-1);
        opacity: .5;
        vertical-align: bottom;
    }
    @media screen and (max-width: 1119px) {
        .single-quote:last-child {
            padding: 0 0 2rem 0;
        }
    }
    @media screen and (max-width: 799px) {
        .columns {
            flex-direction: column;
            align-items: center;
        }
        .single-quote {
            padding: 0 0 2rem 0;
        }
    }
}