section.resources-list {
    background-color: $light-turquoise;
    max-width: 100%;

    .card-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }
    @supports (display:grid) {
        .card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 20rem );
            grid-gap: 1rem;
            width: 100%;
        }
    }
    h2 a {
        @extend .section-heading;
        color: $petroleum;
        font-size: modular-scale(-1);
        letter-spacing: 0.02em;
        margin-top: modular-scale(-1);
        text-align: left;

        &:hover {
            color: $dark-petroleum;
        }
    }
    p {
        @extend .measure;
        margin-bottom: modular-scale(1);
    }
    p:first-of-type {
        margin-bottom: 0;
    }
    .resource {
        @extend .card;
        cursor: default;
        margin: .5rem;
        padding: 1rem;
        width: 20rem;
    }
    @supports (display:grid) {
        .resource {
            margin: 0;
        }
    }
    img {
        margin: -1rem -1rem 0 -1rem;
        width: 20rem;
    }
    a {
        @extend .vibbio-bare-button;
        display: inline-block;
        padding: 0;
    }
}