.selling-points {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: modular-scale(6) 4rem;
    
    h2 {
        @extend .h2;
    }

    .points {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: modular-scale(4);
    }
    .point {
        margin: 0 1rem;

        p {
            margin: 0 auto;
            max-width: 12.5em;
            text-align: center;
        }
    }

    img {
        display: block; 
        height: 6.25rem;
        margin: 2rem auto;
        width: 6.25rem;
    }
    
    h3 {
        @extend .section-heading;
    }

    a {
        @extend .vibbio-bare-button;
        background-color: $action-color;
        color: $white;
        &:hover {
            background-color: $petroleum;
        }
    }
}