.selling-points {

    h2 {
        @extend .h2;
    }

    main {
        display: flex;
        margin-bottom: modular-scale(3);
        justify-content: center;
        width: calc(100% - 8rem);
    }

    .points {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
        margin-left: 2rem;
        justify-content: space-evenly;
    }
    .point {
        align-items: flex-start;
        display: flex;
        margin: 0 0 2rem 0;
        img {
            display: block;
            height: 2rem;
            width: 2rem;
        }
    }
    .point-inner {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

        p {
            margin: 0 auto;
            max-width: 20em;
        }
    }
    .video-embed {
        margin-right: 2rem;
        width: 50%;
    }

    h3 {
        @extend .section-heading;
        text-align: left;
    }

    .button {
        @extend .vibbio-bare-button;
        background-color: $action-color;
        color: $white;
        margin-bottom: modular-scale(1);
        &:hover {
            background-color: $petroleum;
        }
    }

    @media screen and (max-width: 900px) {
        main {
            flex-direction: column;
            width: 100%;
        }
        .points, .video-embed {
            margin: 0;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        .video-embed {
            margin-bottom: modular-scale(3);
        }
    }
}