.smart-tools {
    h1 {
        @extend .h1;
        margin-bottom: modular-scale(2);
    }
    h2 {
        @extend .section-heading;
        text-align: left;
        line-height: 1.6;
    }
    img {
        height: 2rem;
        width: 2rem;
        margin-right: 1.5rem;
        margin-top: .5rem;
    }
    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem 4rem;
    }
    .feature {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        width: 27rem;
    }
}

@media screen and (max-width: 1040px) {
    .plans-include article {
        grid-template-columns: 1fr;
        grid-gap: none;
    }
}