.smart-tools {
    h1 {
        @extend .h1;
        margin-bottom: modular-scale(0);
    }
    h2 {
        @extend .section-heading;
        text-align: left;
        line-height: 1.6;
    }
    img {
        height: 2rem;
        width: 2rem;
        margin-right: 1.5rem;
        margin-top: .5rem;
    }
    img#paws {
        animation: coucou 5s linear infinite alternate;
        transform-origin: bottom;
    }
    .ingress {
        margin-bottom: modular-scale(4);
    }
    a {
        @extend .vibbio-primary-button;
        margin-top: modular-scale(4);
    }

    /* Fall back for IE 11 */
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }
    .feature {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        margin: 1.5rem 2rem;
        max-width: 27rem;
        width: 100%;
        & div {
            max-width: 23.5rem;
        }
    }

    @supports (display: grid) {
        article {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3rem 4rem;
            justify-content: center;
        }
         .feature {
             margin: 0;
         }
    }
}

@media screen and (max-width: 800px) {
    @supports (display: grid) {
        .smart-tools article {
            grid-template-columns: 1fr;
            grid-gap: none;
        }
    }
}
@media screen and (max-width: 450px) {
    .smart-tools .ingress {
        text-align: left;
    }
    .smart-tools .feature {
        flex-direction: column;
    }
    .smart-tools img {
        margin: 0 auto 1.5rem auto;
        text-align: center;
    }
}
@keyframes coucou {
    20%, 100% {
        transform: scale3d(1, 1.1, 1)
    }
}