.stats {
    align-items: center;
    background-color: $light-turquoise;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: modular-scale(6) 4rem;

    .talking-points {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: modular-scale(3);
        width: 100%;

        & div {
        margin: 0 1.5rem modular-scale(2);
        min-width: 9.4rem;
        width: calc(100% / 3 - 3rem);
        }
    }

    h3 {
        font-family: $heading-font-family;
        font-size: calc(3vw + 2rem);
        font-weight: 400;
        color: $turquoise;
        text-align: center;
        margin: 1rem 0 1.5rem 0;
        line-height: 1;
    }
    p {
        max-width: 12em;
        text-align: center;
        margin: 0 auto;
    }
    a {
        @extend .vibbio-primary-button;
    }
}