.team {
    display: block;

    h2 {
        @extend .h2;
    }
    h3 {
        @extend .section-heading;
        margin: modular-scale(6) 0 modular-scale(4);
    }
    .member-img {
        height: 12.5rem;
        width: 12.5rem;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 12.5rem ) ;
        justify-content: center;
        grid-gap: 1px;
        &:nth-of-type(2) {
            max-width: 1010px;
            margin: 0 auto;
        }
    }
    .team-member {
        @extend .member-img;
        position: relative;
        transition: all $base-duration $base-timing;
        &:hover, &:focus {
            transform: scale3d(1.1, 1.1, 1.1);
            box-shadow: 0 0 4px rgba(0,0,0,0.22);
            border-radius: 2px;
            overflow: hidden;
            z-index: 99;
        }
        &:hover .team-overlay,
        &:focus .team-overlay {
            opacity: .9;
            border-radius: 2px;
        }
    }
    .team-overlay {
        @extend .member-img;
        align-items: center;
        background: linear-gradient(135deg, $turquoise, $petroleum);
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        opacity: 0;
        padding: 1rem;
        position: absolute;
        transition: opacity $base-duration $base-timing;
        top: 0;
        p {
            margin: 0;
        }
    }
    .name {
        font-size: modular-scale(0);
        font-weight: $heading-font-weight;
        font-family: $heading-font-family;
        padding-bottom: 1rem;
        text-align: center;
        text-shadow: 0 0 2px rgba(0,0,0,0.2);
    }
    .title, .email, .mobile {
        font-size: modular-scale(-1);
        line-height: 1.6;
        text-align: center;
    }
    .title {
        text-transform: uppercase;
        letter-spacing: .05em;
        padding-bottom: 1em;
    }
    .email a {
        color: $white;
        text-decoration: underline;
        letter-spacing: 0.01em;
    }
    .join-teaser {
        @extend .team-member;
        background: linear-gradient(135deg, $turquoise, $petroleum);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: modular-scale(0);
        opacity: 1;
    }
    .box {
        @extend .name;
        color: $white;
        font-size: modular-scale(2);
        text-decoration: none;
        padding-bottom: 0;
        width: 100%;
        line-height: 12rem;
    }
}