html {
    font-size: $base-font-size;
    line-height: $base-line-height;
}
h1, .h1 {
    color: $dark-petroleum;
    font-family: $heading-font-family;
    font-size: modular-scale(3);
    font-weight: $heading-font-weight;
    margin-bottom: 1.5rem;
}
.h2 {
    font-size: modular-scale(3);
    color: $dark-petroleum;
    text-align: center;
}
h2 {
    @extend .h2;
    font-size: modular-scale(2);
}
h3, .h3 {
    font-size: modular-scale(1);
    color: $petroleum;
}
strong {
    font-weight: 700;
}

.section-heading {
    color: $heading-font-color;
    font-family: $heading-font-family;
    font-size: modular-scale(-1);
    font-weight: $heading-font-weight;
    letter-spacing: .2em;
    line-height: $heading-line-height;
    text-align: center;
    text-transform: uppercase;
}

.ingress {
    color: $anthracite;
    font-size: modular-scale(1);
    margin: 0 auto modular-scale(3);
    max-width: 27em;
    text-align: center;
}

.fineprint {
    font-size: modular-scale(-1);
    font-style: italic;
    opacity: .5;
}

img.logo {
    height: 1.5rem;
}

@media screen and (max-width: 700px) {
    html {
        font-size: $base-font-size-small;
    }
}