.uvp {
    padding: 0 4rem modular-scale(6) 4rem;

    h2 {
        @extend .h2;
        font-weight: 400;
        text-align: left;
    }
    img {
        max-width: 100%;
    }
    p {
        max-width: 23em;
    }
    .main-content {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
    }
    .text-wrapper {
        padding: modular-scale(3);
    }
    .illus {
        align-items: center;
        background-color: $light-turquoise;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        /* margin-right: -4rem; */
        max-width: 50%;
        padding: modular-scale(4);
    }
}
.uvp:first-of-type {
    padding-top: modular-scale(6);
}