.uvp {
    padding: 0 4rem modular-scale(6) 4rem;

    h2 {
        @extend .h2;
        font-weight: 400;
        text-align: left;
    }
    img {
        width: 650px;
    }
    p {
        width: 23em;
    }
    .main-content {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1280px;
        width: 100%;
    }
    .text-wrapper {
        flex-shrink: 0;
        width: 23rem;
        & > * {
            display: inline-block;
        }
    }
    .illus {
        align-items: center;
        background-color: $light-turquoise;
        border-radius: 1rem 0 0 1rem;
        display: flex;
        justify-content: center;
        margin-left: modular-scale(2);
        margin-right: -4rem;
        max-width: calc(50% + 2rem);
        padding: modular-scale(1);
    }
}
.uvp:first-of-type {
    padding-top: modular-scale(6);
}
.uvp:nth-of-type(2n) .main-content {
    flex-direction: row-reverse;
    & .illus {
        border-radius: 0 1rem 1rem 0;
        margin-right: 0;
        margin-left: -4rem;
    }
}