.video-split {
    align-items: flex-start;
    h2 {
        @extend .h2;
        text-align: left;
        float: left;
        width: 50%;
    }
    main {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .content {
        width: 50%;
    }
    .video-embed { 
        @extend .responsive-video-50;   
        margin-left: 2rem;
    }
    @media screen and (max-width: 900px) {
        h2, .content, .video-embed {
            width: 100%;
        }
        main {
            flex-direction: column;
            width: 100%;
        }
        .video-embed {
            margin-left: 0;
            margin-top: modular-scale(1);
        }
    }
}