.video-split {
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

    h2 {
        @extend .h2;
        font-size: modular-scale(2);
        text-align: left;
    }
    p {
        @extend .ingress;
        margin: 0;
        text-align: left;
    }
    p:first-of-type {
        color: $petroleum;
        font-family: $heading-font-family;
        margin-bottom: modular-scale(0);
    }
    main {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    .content {
        width: 50%;
    }
    .video-embed {
        @extend .responsive-video-50;
        margin-left: 2rem;
    }
    @media screen and (max-width: 1200px) {
        h2, .content, .video-embed {
            width: 100%;
        }
        main {
            flex-direction: column;
            width: 100%;
        }
        .video-embed {
            justify-content: center;
            margin-left: 0;
            margin-top: modular-scale(3);
        }
    }
}