.video-embed {
    display: flex;
    justify-content: flex-end;
}

.video-placeholder {
    align-items: center;
    border-radius: $base-border-radius;
    overflow: hidden;
    display: flex;
    max-height: 360px;
    max-width: 640px;
    position: relative;

    img {
        width: 100%;
    }

    &:hover .play-button {
        fill: $turquoise;
    }
}

.play-button {
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
    height: 6rem;
    width: 6rem;
}