.team {
    display: block;

    h2 {
        @extend .h2;
    }
    h3 {
        @extend .section-heading;
        margin: modular-scale(6) 0 modular-scale(4);
    }
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 160px ) ;
        justify-content: center;
        grid-gap: 1px;
        &:nth-of-type(2) {
            max-width: 810px;
            margin: 0 auto;
        }
    }
    img, .box {
        cursor: pointer;
        height: 10rem;
        width: 10rem;
        background-color: $turquoise;
        transition: all $base-duration $base-timing;
        &:hover {
            transform: scale(1.1);
            z-index: 999;
            box-shadow: 0 0 4px rgba(0,0,0,0.22);
            border-radius: 2px;
        }
    }
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: modular-scale(2);
        font-weight: 700;
        text-decoration: none;
    }
}