---
title: Freelance community
---

<div class="hero">
    <h1>
        The VIBBIO freelance community
    </h1>
    <p>&nbsp;</p>
</div>

<section class="form">
    <h2 class="h2">We are building a global community of specialists.</h2>
    <p class="ingress">Apply to join our selected partners<br/>by filling in your details below</p>

    <form method="post" name="comunity-interest-form" netlify>
        <legend>Content producer contact details</legend>
        <h3 class="form-heading">About you</h3>

        <p>
            <label for="name">Name <em>required</em></label>
            <input name="name" required type="text">
        </p>
        <p>
            <label for="email">Contact email <em>required</em></label>
            <input name="email" required type="email">
        </p>
        <p>
            <label for="phone">Contact phone <em>required</em></label>
            <input name="phone" required type="tel">
        </p>
        <p>
            <label for="city">City <em>required</em></label>
            <input name="city" required type="text">
        </p>
        <p>
            <label for="country">Country <em>required</em></label>
            <input name="country" required type="text">
        </p>
        <p>
            <label for="occupation">Occupation <em>required</em></label>
            <input name="occupation" required type="text">
        </p>
        <p>
            <label for="portfolio">Website or Portfolio URL <em>required</em></label>
            <input name="portfolio" required type="url" placeholder="http://example.com">
        </p>
        <h3 class="form-heading">Specialties</h3>
        <p><em>Select all that apply.</em></p>
        <div id="specialties">
            <div>
                <input type="checkbox" name="videographer" value="videographer" id="videographer">
                <label for="videographer">Videographer</label>
            </div>
            <div>
                <input type="checkbox" name="photographer" value="photographer" id="photographer">
                <label for="photographer">Photographer</label>
            </div>
            <div>
                <input type="checkbox" name="content" value="content" id="content">
                <label for="content">Content</label>
            </div>
            <div>
                <input type="checkbox" name="copywriter" value="copywriter" id="copywriter">
                <label for="copywriter">Copywriter</label>
            </div>
            <div>
                <input type="checkbox" name="translator" value="translator" id="translator">
                <label for="translator">Translator</label>
            </div>
        </div>
        <h3 class="form-heading">Other</h3>
        <p>
            <label for="other">Space for anything else you want us to know about</label>
            <textarea type="text" cols="30" rows="5" placeholder="I am really good at landscape photography"></textarea>
        </p>
        <button type="submit">Submit the form</button>
    </form>
</section>