---
title: VIBBIO Resources
layout: text-page
---

<section class="resources-intro">
    <%= partial 'page-content/resources/resources-intro.md' %>
</section>
<section class="resources-list">
    <%= partial 'page-content/resources/resources-list.md' %>
</section>